.idea/
.gradle/
build/
*.ap_
*.log
*.class
*.dex
.navigation/
*.zip
*.class
local.properties
local.properties
Application/build/intermediates/incremental/mergeResources/debug/merger.xml
Application/build/intermediates/incremental/mergeResources/debug/merger.xml
